:root{
	--test1: #dc8c8c;
	--test2: #dca78c;
	--test3: #dcc18c;
	--test4: #dcdc8c;
	--test5: #c1dc8c;
	--test6: #a7dc8c;
	--test7: #8cdc8c;
	--test8: #8cdca7;
	--test9: #8cdcc1;
	--test10: #8cdcdc;
	--test11: #8cc1dc;
	--test12: #8ca7dc;
	--test13: #8c8cdc;
	--test14: #a78cdc;
	--test15: #c18cdc;
	--test16: #dc8cdc;
	--test17: #dc8cc1;
	--test18: #dc8ca7;
	--test99: #808080;

	--bg1: #f07878;
	--bg2: #f0a078;
	--bg3: #f0c878;
	--bg4: #f0f078;
	--bg5: #c8f078;
	--bg6: #a0f078;
	--bg7: #78f078;
	--bg8: #78f0a0;
	--bg9: #78f0c8;
	--bg10: #78f0f0;
	--bg11: #78c8f0;
	--bg12: #78a0f0;
	--bg13: #7878f0;
	--bg14: #a078f0;
	--bg15: #c878f0;
	--bg16: #f078f0;
	--bg17: #f078c8;
	--bg18: #f078a0;
	--bg99: #808080;
}

/* main */
body {background-color: #161b22; color: #b3b3b3;}
h2 {color: white; font-size: 14px; text-align: center; margin-top: inherit;}
code {
	background: #41424d !important;
	border: 1px solid rgba(255, 255, 255, .1);
	padding: 1px; border-radius: 2px;}
code.lies {
	background-color: rgba(255, 79, 79, 0.6) !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	color: white;
}
code.bypass {
	background-color: rgba(140, 220, 193, 0.4) !important; /* test9 */
	padding-left: 3px !important;
	padding-right: 3px !important;
	color: white;
}

a {color: black; text-decoration: none;}
a.blue {color: #8ca7dc; text-decoration: none;}
a.return {color: #8ca7dc; text-decoration: none;  font-size: 14px; line-height: 1.2em}
.no_color {color: #b3b3b3;}
.hidden {display: none;}
.offscreen {
	position: absolute !important;
	top: -2000% !important;
	left: -2000px !important
}
.group {font-weight: bold;}
.mono {font-family: monospace, "Courier New";}
.strike {text-decoration: line-through;}
.spaces {white-space: pre-wrap;}
.perf {font-family: monospace, "Courier New"; font-size: 12px; white-space: pre-wrap;}

.original {
	position: fixed;
	top: 5;
	right: 5;
	border: 1px;
	border-color: #b3b3b3;
	border-style: solid;
	text-align: center;
	background-color: #41424d;
	padding: 8px;
	z-index: 50;
	font-size: 11px;
}

/* notation colors */
.faint {color: #606060;} /* #888888 darker off white */
.good {color: #8cdc8c;} /* test7 */
.bad {color: #ff4f4f;}
.neutral {color: #dcdc8c;} /* test4 */
.orange {color: #dca78c;} /* test2 */

.normalized {
	font-family: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-transform: none;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
}
#ugSpan {font-size: 10000%;}

@font-face {
	font-family: "ABR"; src: url("../fonts/AdobeBlankRegular.ttf");
}

@font-face {
	font-family: "fontFallback"; src: url("../fonts/fontFallback.ttf");
}

/* show/hide */
.togC, .togF1, .togF4, .togL, .togOS1, .togUA, .togUA1, .togUA2, .togUG, .togZ {display: none;}

/* run/re-run, click here */
.btn {background-color: #161b22;
	display: inline-block;
	font-size: 12px;
	font-family: monospace, "Courier New";
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
	cursor: pointer;
}
.btnb {cursor: pointer;}
/* item metrics/counts: dotted, no padding, normal */
.btnc {
	font-weight: normal;
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: pointer;
}
/* section metrics/counts: underline, padded, bold */
.btns {
	font-weight: bold;
	text-decoration: underline;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
}
.btn0 {border-color: #b3b3b3; color: #b3b3b3;}
.btn1, .s1 {border-color: var(--test1); color: var(--test1);}
.btn2, .s2 {border-color: var(--test2); color: var(--test2);}
.btn3, .s3 {border-color: var(--test3); color: var(--test3);}
.btn4, .s4 {border-color: var(--test4); color: var(--test4);}
.btn5, .s5 {border-color: var(--test5); color: var(--test5);}
.btn6, .s6 {border-color: var(--test6); color: var(--test6);}
.btn7, .s7 {border-color: var(--test7); color: var(--test7);}
.btn8, .s8 {border-color: var(--test8); color: var(--test8);}
.btn9, .s9 {border-color: var(--test9); color: var(--test9);}
.btn10, .s10 {border-color: var(--test10); color: var(--test10);}
.btn11, .s11 {border-color: var(--test11); color: var(--test11);}
.btn12, .s12 {border-color: var(--test12); color: var(--test12);}
.btn13, .s13 {border-color: var(--test13); color: var(--test13);}
.btn14, .s14 {border-color: var(--test14); color: var(--test14);}
.btn15, .s15 {border-color: var(--test15); color: var(--test15);}
.btn16, .s16 {border-color: var(--test16); color: var(--test16);}
.btn17, .s17 {border-color: var(--test17); color: var(--test17);}
.btn18, .s18 {border-color: var(--test18); color: var(--test18);}
.s99 {color: var(--test99);}
.btnbad, .sbad {border-color: #ff4f4f; color: #ff4f4f;}
.btn-left {float: left; position: relative; left: -10px; top: 0px;}

/* tooltips */
.icon {font-size: 10px; font-weight: bold; color: #b3b3b3; cursor: default;}
.ttip {position: relative; display: inline-block; border-bottom: 1px dotted black; color: white;}
.ttip .ttxt {
	visibility: hidden; width: 150px; background-color: #b3b3b3; color: black; text-align: center;
	border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; top: -12px; left: 130%;}
.ttip .ttxtb {
	visibility: hidden; width: 210px; background-color: #b3b3b3; color: black; text-align: center;
	border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; top: -12px; left: 130%;}
.ttip .ttxtx {
	visibility: hidden; width: 250px; background-color: #b3b3b3; color: black; text-align: center;
	border-radius: 6px; padding: 5px 0; position: absolute; z-index: 1; top: -12px; left: 130%;}
.ttip:hover .ttxt, .ttip:hover .ttxtb, .ttip:hover .ttxtx {visibility: visible;}
.ttip .ttxt::after, .ttip .ttxtb::after, .ttip .ttxtx::after {
	content: " "; position: absolute; top: 50%; right: 100%; margin-top: -5px; border-width: 5px;
	border-style: solid; border-color: transparent #b3b3b3 transparent transparent;}

/* table nav */
div.nav-title {position: relative; width: 865px;}
div.nav-down {position: absolute; right: 5px; top: 0px; width: 20px;}
div.nav-up {position: absolute; left: 5px; top: 0px; width: 250px; text-align: left;}
div.nav-right {position: absolute; right: 5px; top: -2px; width: 0px;}

/* tables */
table {width: 865px; border-collapse: collapse; margin: 0 auto 10px auto; font-size: 12px;}
tbody:before {content: "-"; display: block; line-height: 1em; color: transparent;}
td {padding-bottom: 3px; padding-top: 3px; padding-left: 10px;}
th {color: black; font-weight: bold; font-size: 16px; padding: 3px 0;}

table td:first-child { text-align: right; vertical-align: top;}
table td.blurb {text-align: center; line-height: 1.5em;}
table td.center {text-align: center;}
table td.intro {text-align: left; line-height: 1.5em; padding-bottom: 10px;}
table td.secthash {
	text-align: left;
	vertical-align: top;
	line-height: 1.2em;
	padding-bottom: 10px;
	font-family: monospace, "Courier New";
	font-size: 12px;
}
table td.showhide {text-align: center; padding-top: 7px; padding-bottom: 7px;}

#tb1 th {background-color: var(--bg1);}
#tb2 th {background-color: var(--bg2);}
#tb3 th {background-color: var(--bg3);}
#tb4 th {background-color: var(--bg4);}
#tb5 th {background-color: var(--bg5);}
#tb6 th {background-color: var(--bg6);}
#tb7 th {background-color: var(--bg7);}
#tb8 th {background-color: var(--bg8);}
#tb9 th {background-color: var(--bg9);}
#tb10 th {background-color: var(--bg10);}
#tb11 th {background-color: var(--bg11);}
#tb12 th {background-color: var(--bg12);}
#tb13 th {background-color: var(--bg13);}
#tb14 th {background-color: var(--bg14);}
#tb15 th {background-color: var(--bg15);}
#tb16 th {background-color: var(--bg16);}
#tb17 th {background-color: var(--bg17);}
#tb18 th {background-color: var(--bg18);}
#tb99 th {background-color: var(--bg99);}

#tb1 td:first-child {color: var(--test1);}
#tb2 td:first-child {color: var(--test2);}
#tb3 td:first-child {color: var(--test3);}
#tb4 td:first-child {color: var(--test4);}
#tb5 td:first-child {color: var(--test5);}
#tb6 td:first-child {color: var(--test6);}
#tb7 td:first-child {color: var(--test7);}
#tb8 td:first-child {color: var(--test8);}
#tb9 td:first-child {color: var(--test9);}
#tb10 td:first-child {color: var(--test10);}
#tb11 td:first-child {color: var(--test11);}
#tb12 td:first-child {color: var(--test12);}
#tb13 td:first-child {color: var(--test13);}
#tb14 td:first-child {color: var(--test14);}
#tb15 td:first-child {color: var(--test15);}
#tb16 td:first-child {color: var(--test16);}
#tb17 td:first-child {color: var(--test17);}
#tb18 td:first-child {color: var(--test18);}
#tb99 td:first-child {color: var(--test99);}

/* about:logo */
#fdResourceCss {
	background-image: url("about:logo"), url("");
	background-size: auto 100%;	background-repeat: no-repeat;	background-position: 10px 0px;
}
#fdBrandingCss {
	background-image: url("chrome://branding/content/about-wordmark.svg"), url("");
	background-size: auto 100%;	background-repeat: no-repeat;	background-position: 10px 0px;
}

/* pointer event */
#pointertarget {
	z-index: 50;
	display: block;
}

/*domrect*/
#divrect {
  position: fixed;
	padding: 8px;
	opacity: 0;
	z-index: -1;
}
.divrect1 {
  top: 0;
  left: 0;
}
.divrect2 {
  top: 0.25px;
  left: 0.25px;
}
.insideDOMRect{
	white-space: nowrap;
	color:#5B5B5B;
	position: absolute;
	padding: 1.3333px;
	left: 10.5555px;
	top: 28.4444px;
	font-size: 24.5555px;
	-ms-transform: scale(1.31123) matrix3d(0.373513, -0.0440105, 0, -0.000202461, -0.0851682, 0.616234, 0, -0.00123197, 2.17, 0.21, 1, 0.02, 13.81, 2.11, 0, 0.98);
	-moz-transform: scale(1.31123) matrix3d(0.373513, -0.0440105, 0, -0.000202461, -0.0851682, 0.616234, 0, -0.00123197, 2.17, 0.21, 1, 0.02, 13.81, 2.11, 0, 0.98);
	-webkit-transform: scale(1.31123) matrix3d(0.373513, -0.0440105, 0, -0.000202461, -0.0851682, 0.616234, 0, -0.00123197, 2.17, 0.21, 1, 0.02, 13.81, 2.11, 0, 0.98);
	transform: scale(1.31123) matrix3d(0.373513, -0.0440105, 0, -0.000202461, -0.0851682, 0.616234, 0, -0.00123197, 2.17, 0.21, 1, 0.02, 13.81, 2.11, 0, 0.98);
	-ms-transform-origin: 0.1111px 0.2222px 0.3333px;
	-moz-transform-origin: 0.1111px 0.2222px 0.3333px;
	-webkit-transform-origin: 0.1111px 0.2222px 0.3333px;
	transform-origin: 0.1111px 0.2222px 0.3333px;
}
#rect3 { transform: rotate(1.23deg); }
#rect4 {
	transform: scale(3.14);
	position: absolute;
	top: 300px;
	left: 200px;
}
#rect5 {
	padding: 4.937px;
	margin: 9.876px;
}
#rect6 {
	top: 0;
	left: 0;
	width:100px;
	height:100px;
	transform: rotate(45deg);
	padding: 0px;
	position: fixed;
}
.testRect {outline: 2px dotted lightblue;}

/* line-height */
.measure {
	font-size: 16px;
	font-family: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-transform: none;
	text-align: left;
	text-decoration: none;
	text-shadow: none;
	white-space: nowrap;
}
.measureScale {
	transform: scale(1.318567); /* cause decimals*/
}
.cssDocFont {
	font-family: "Times New Roman", Times, serif;
	/* font-family: "Meiryo", Times, serif; */
}
