/* @media */
#cssOm:after{content:"undefined";}
@media (-moz-device-orientation:portrait){#cssOm:after{content:"portrait";}}
@media (-moz-device-orientation:landscape){#cssOm:after{content:"landscape";}}
@media (orientation:portrait){#cssO:after{content:"portrait";}}
@media (orientation:landscape){#cssO:after{content:"landscape";}}
@media (aspect-ratio:1/1){#cssAR:after{content:"square";}}
@media (min-aspect-ratio:10000/9999){#cssAR:after{content:"landscape";}}
@media (max-aspect-ratio:9999/10000){#cssAR:after{content:"portrait";}}
@media (device-aspect-ratio:1/1){#cssDAR:after{content:"square";}}
@media (min-device-aspect-ratio:10000/9999){#cssDAR:after{content:"landscape";}}
@media (max-device-aspect-ratio:9999/10000){#cssDAR:after{content:"portrait";}}

@media (display-mode:fullscreen){#cssDM:after{content:"fullscreen";}}
@media (display-mode:browser){#cssDM:after{content:"browser";}}
@media (display-mode:minimal-ui){#cssDM:after{content:"minimal-ui";}}
@media (display-mode:portrait){#cssDM:after{content:"portrait";}}

@media (color:0){#cssC:after{content:"0";}}
@media (color:1){#cssC:after{content:"1";}}
@media (color:2){#cssC:after{content:"2";}}
@media (color:3){#cssC:after{content:"3";}}
@media (color:4){#cssC:after{content:"4";}}
@media (color:5){#cssC:after{content:"5";}}
@media (color:6){#cssC:after{content:"6";}}
@media (color:7){#cssC:after{content:"7";}}
@media (color:8){#cssC:after{content:"8";}}
@media (color:9){#cssC:after{content:"9";}}
@media (color:10){#cssC:after{content:"10";}}
@media (color:11){#cssC:after{content:"11";}}
@media (color:12){#cssC:after{content:"12";}}
@media (color:13){#cssC:after{content:"13";}}
@media (color:14){#cssC:after{content:"14";}}
@media (color:15){#cssC:after{content:"15";}}
@media (color:16){#cssC:after{content:"16";}}

#cssP:after{content:"not supported";}
@media (pointer:none){#cssP:after{content:"none";}}
@media (pointer:coarse){#cssP:after{content:"coarse";}}
@media (pointer:fine){#cssP:after{content:"fine";}}
#cssAP:after{content:"not supported";}
@media (any-pointer:none){#cssAP:after{content:"none";}}
@media (any-pointer:coarse){#cssAP:after{content:"coarse";}}
@media (any-pointer:fine){#cssAP:after{content:"fine";}}

#cssH:after{content:"not supported";}
@media (hover:none){#cssH:after{content:"none";}}
@media (hover:hover){#cssH:after{content:"hover";}}
#cssAH:after{content:"not supported";}
@media (any-hover:none){#cssAH:after{content:"none";}}
@media (any-hover:hover){#cssAH:after{content:"hover";}}

#cssPCS:after{content:"not supported";}
@media (prefers-color-scheme:light){#cssPCS:after{content:"light";}}
@media (prefers-color-scheme:dark){#cssPCS:after{content:"dark";}}
@media (prefers-color-scheme:no-preference){#cssPCS:after{content:"no-preference";}}

#cssPRM:after{content:"not supported";}
@media (prefers-reduced-motion:no-preference){#cssPRM:after{content:"no-preference";}}
@media (prefers-reduced-motion:reduce){#cssPRM:after{content:"reduce";}}

#cssPC:after{content:"not supported";}
@media (prefers-contrast:no-preference){#cssPC:after{content:"no-preference";}}
@media (prefers-contrast:forced){#cssPC:after{content:"forced";}}
@media (prefers-contrast:high){#cssPC:after{content:"high";}}
@media (prefers-contrast:low){#cssPC:after{content:"low";}}

#cssPRT:after{content:"not supported";}
@media (prefers-reduced-transparency:no-preference){#cssPRT:after{content:"no-preference";}}
@media (prefers-reduced-transparency:reduce){#cssPRT:after{content:"reduce";}}

#cssPRD:after{content:"not supported";}
@media (prefers-reduced-data:no-preference){#cssPRD:after{content:"no-preference";}}
@media (prefers-reduced-data:reduce){#cssPRD:after{content:"reduce";}}

#cssFC:after{content:"not supported";}
@media (forced-colors:none){#cssFC:after{content:"none";}}
@media (forced-colors:active){#cssFC:after{content:"active";}}

#cssIC:after{content:"not supported";}
@media (inverted-colors:none){#cssIC:after{content:"none";}}
@media (inverted-colors:inverted){#cssIC:after{content:"inverted";}}
