/* @supports: https://drafts.csswg.org/css-conditional-5/#at-supports-ext */

/* font-tech */
#cssCOLRv0:after{content:"n/a";}
@supports font-tech(color-COLRv0){#cssCOLRv0:after{content:"supported";}}
#cssCOLRv1:after{content:"n/a";}
@supports font-tech(color-COLRv1){#cssCOLRv1:after{content:"supported";}}
#cssOpenType:after{content:"n/a";}
@supports font-tech(features-opentype){#cssOpenType:after{content:"supported";}}
#cssTrueType:after{content:"n/a";}
@supports font-format(TrueType){#cssTrueType:after{content:"supported";}}

/* font-format */
#cssWoff2:after{content:"n/a";}
@supports font-format(woff2){#cssWoff2:after{content:"supported";}}

/* @media */
#cssOm:after{content:"n/a";}
@media (-moz-device-orientation:portrait){#cssOm:after{content:"portrait";}}
@media (-moz-device-orientation:landscape){#cssOm:after{content:"landscape";}}
@media (orientation:portrait){#cssO:after{content:"portrait";}}
@media (orientation:landscape){#cssO:after{content:"landscape";}}
@media (aspect-ratio:1/1){#cssAR:after{content:"square";}}
@media (min-aspect-ratio:10000/9999){#cssAR:after{content:"landscape";}}
@media (max-aspect-ratio:9999/10000){#cssAR:after{content:"portrait";}}
@media (device-aspect-ratio:1/1){#cssDAR:after{content:"square";}}
@media (min-device-aspect-ratio:10000/9999){#cssDAR:after{content:"landscape";}}
@media (max-device-aspect-ratio:9999/10000){#cssDAR:after{content:"portrait";}}

@media (display-mode:fullscreen){#cssDM:after{content:"fullscreen";}}
@media (display-mode:browser){#cssDM:after{content:"browser";}}
@media (display-mode:minimal-ui){#cssDM:after{content:"minimal-ui";}}
@media (display-mode:standalone){#cssDM:after{content:"standalone";}}
@media (display-mode:picture-in-picture){#cssDM:after{content:"picture-in-picture";}}
@media (display-mode:window-controls-overlay){#cssDM:after{content:"window-controls-overlay";}}

#cssCG:after{content:"n/a";}
@media (color-gamut:srgb){#cssCG:after{content:"srgb";}}
@media (color-gamut:p3){#cssCG:after{content:"p3";}}
@media (color-gamut:rec2020){#cssCG:after{content:"rec2020";}}

@media (color:0){#cssC:after{content:"";}}
@media (color:1){#cssC:after{content:"1";}}
@media (color:2){#cssC:after{content:"2";}}
@media (color:3){#cssC:after{content:"3";}}
@media (color:4){#cssC:after{content:"4";}}
@media (color:5){#cssC:after{content:"5";}}
@media (color:6){#cssC:after{content:"6";}}
@media (color:7){#cssC:after{content:"7";}}
@media (color:8){#cssC:after{content:"8";}}
@media (color:9){#cssC:after{content:"9";}}
@media (color:10){#cssC:after{content:"10";}}
@media (color:11){#cssC:after{content:"11";}}
@media (color:12){#cssC:after{content:"12";}}
@media (color:13){#cssC:after{content:"13";}}
@media (color:14){#cssC:after{content:"14";}}
@media (color:15){#cssC:after{content:"15";}}
@media (color:16){#cssC:after{content:"16";}}
@media (color:17){#cssC:after{content:"17";}}
@media (color:18){#cssC:after{content:"18";}}
@media (color:19){#cssC:after{content:"19";}}
@media (color:20){#cssC:after{content:"20";}}
@media (color:21){#cssC:after{content:"21";}}
@media (color:22){#cssC:after{content:"22";}}
@media (color:23){#cssC:after{content:"23";}}
@media (color:24){#cssC:after{content:"24";}}
@media (color:25){#cssC:after{content:"";}}

/*
	always return none with a traling space so we can differentiate between this
	and default none: https://www.w3.org/TR/CSS21/generate.html#content
*/
#cssP:after{content:"n/a";}
@media (pointer:fine){#cssP:after{content:"fine";}}
@media (pointer:coarse){#cssP:after{content:"coarse";}}
@media (pointer:none){#cssP:after{content:"none ";}}
/* any-pointer order matters: https://www.w3.org/TR/mediaqueries-4/#any-input */
#cssAP:before{content:"n/a";}
@media (any-pointer:coarse){#cssAP:before{content:"coarse";}}
@media (any-pointer:fine){#cssAP:before{content:"fine";}} /* fine over coarse */
@media (any-pointer:none){#cssAP:before{content:"none ";}}
#cssAP:after{content:" + n/a";}
@media (any-pointer:fine){#cssAP:after{content:" + fine";}}
@media (any-pointer:coarse){#cssAP:after{content:" + coarse";}} /* coarse over fine */
@media (any-pointer:none){#cssAP:after{content:" + none ";}}
#cssH:after{content:"n/a";}
@media (hover:none){#cssH:after{content:"none ";}}
@media (hover:hover){#cssH:after{content:"hover";}}
#cssAH:after{content:"n/a";}
@media (any-hover:none){#cssAH:after{content:"none ";}}
@media (any-hover:hover){#cssAH:after{content:"hover";}}
#cssPCS:after{content:"n/a";} /*note: no-preference: obsolete FF79+: 1643656 */
@media (prefers-color-scheme:light){#cssPCS:after{content:"light";}}
@media (prefers-color-scheme:dark){#cssPCS:after{content:"dark";}}
#cssPRM:after{content:"n/a";}
@media (prefers-reduced-motion:no-preference){#cssPRM:after{content:"no-preference";}}
@media (prefers-reduced-motion:reduce){#cssPRM:after{content:"reduce";}}
#cssPC:after{content:"n/a";}
@media (prefers-contrast:no-preference){#cssPC:after{content:"no-preference";}}
@media (prefers-contrast:more){#cssPC:after{content:"more";}}
@media (prefers-contrast:less){#cssPC:after{content:"less";}}
@media (prefers-contrast:custom){#cssPC:after{content:"custom";}}
#cssFC:after{content:"n/a";}
@media (forced-colors:none){#cssFC:after{content:"none ";}}
@media (forced-colors:active){#cssFC:after{content:"active";}}
#cssPRT:after{content:"n/a";}
@media (prefers-reduced-transparency:no-preference){#cssPRT:after{content:"no-preference";}}
@media (prefers-reduced-transparency:reduce){#cssPRT:after{content:"reduce";}}
#cssPRD:after{content:"n/a";}
@media (prefers-reduced-data:no-preference){#cssPRD:after{content:"no-preference";}}
@media (prefers-reduced-data:reduce){#cssPRD:after{content:"reduce";}}
#cssIC:after{content:"n/a";}
@media (inverted-colors:none){#cssIC:after{content:"none ";}}
@media (inverted-colors:inverted){#cssIC:after{content:"inverted";}}
#cssDR:after{content:"n/a";}
@media (dynamic-range:standard){#cssDR:after{content:"standard";}}
@media (dynamic-range:high){#cssDR:after{content:"high";}}
#cssVDR:after{content:"n/a";}
@media (dynamic-range:standard){#cssVDR:after{content:"standard";}}
@media (dynamic-range:high){#cssVDR:after{content:"high";}}
#cssDP:after{content:"undefined";} /* use undefined to match navigator */
@media (device-posture:continuous){#cssDR:after{content:"continuous";}}
@media (device-posture:folded){#cssDR:after{content:"folded";}}

/* dpi */
@media (min-resolution:39dpi){#P:before{content:"";}}
@media (min-resolution:40dpi){#P:before{content:"40";}}
@media (min-resolution:41dpi){#P:before{content:"41";}}
@media (min-resolution:42dpi){#P:before{content:"42";}}
@media (min-resolution:43dpi){#P:before{content:"43";}}
@media (min-resolution:44dpi){#P:before{content:"44";}}
@media (min-resolution:45dpi){#P:before{content:"45";}}
@media (min-resolution:46dpi){#P:before{content:"46";}}
@media (min-resolution:47dpi){#P:before{content:"47";}}
@media (min-resolution:48dpi){#P:before{content:"48";}}
@media (min-resolution:49dpi){#P:before{content:"49";}}
@media (min-resolution:50dpi){#P:before{content:"50";}}
@media (min-resolution:51dpi){#P:before{content:"51";}}
@media (min-resolution:52dpi){#P:before{content:"52";}}
@media (min-resolution:53dpi){#P:before{content:"53";}}
@media (min-resolution:54dpi){#P:before{content:"54";}}
@media (min-resolution:55dpi){#P:before{content:"55";}}
@media (min-resolution:56dpi){#P:before{content:"56";}}
@media (min-resolution:57dpi){#P:before{content:"57";}}
@media (min-resolution:58dpi){#P:before{content:"58";}}
@media (min-resolution:59dpi){#P:before{content:"59";}}
@media (min-resolution:60dpi){#P:before{content:"60";}}
@media (min-resolution:61dpi){#P:before{content:"61";}}
@media (min-resolution:62dpi){#P:before{content:"62";}}
@media (min-resolution:63dpi){#P:before{content:"63";}}
@media (min-resolution:64dpi){#P:before{content:"64";}}
@media (min-resolution:65dpi){#P:before{content:"65";}}
@media (min-resolution:66dpi){#P:before{content:"66";}}
@media (min-resolution:67dpi){#P:before{content:"67";}}
@media (min-resolution:68dpi){#P:before{content:"68";}}
@media (min-resolution:69dpi){#P:before{content:"69";}}
@media (min-resolution:70dpi){#P:before{content:"70";}}
@media (min-resolution:71dpi){#P:before{content:"71";}}
@media (min-resolution:72dpi){#P:before{content:"72";}}
@media (min-resolution:73dpi){#P:before{content:"73";}}
@media (min-resolution:74dpi){#P:before{content:"74";}}
@media (min-resolution:75dpi){#P:before{content:"75";}}
@media (min-resolution:76dpi){#P:before{content:"76";}}
@media (min-resolution:77dpi){#P:before{content:"77";}}
@media (min-resolution:78dpi){#P:before{content:"78";}}
@media (min-resolution:79dpi){#P:before{content:"79";}}
@media (min-resolution:80dpi){#P:before{content:"80";}}
@media (min-resolution:81dpi){#P:before{content:"81";}}
@media (min-resolution:82dpi){#P:before{content:"82";}}
@media (min-resolution:83dpi){#P:before{content:"83";}}
@media (min-resolution:84dpi){#P:before{content:"84";}}
@media (min-resolution:85dpi){#P:before{content:"85";}}
@media (min-resolution:86dpi){#P:before{content:"86";}}
@media (min-resolution:87dpi){#P:before{content:"87";}}
@media (min-resolution:88dpi){#P:before{content:"88";}}
@media (min-resolution:89dpi){#P:before{content:"89";}}
@media (min-resolution:90dpi){#P:before{content:"90";}}
@media (min-resolution:91dpi){#P:before{content:"91";}}
@media (min-resolution:92dpi){#P:before{content:"92";}}
@media (min-resolution:93dpi){#P:before{content:"93";}}
@media (min-resolution:94dpi){#P:before{content:"94";}}
@media (min-resolution:95dpi){#P:before{content:"95";}}
@media (min-resolution:96dpi){#P:before{content:"96";}}
@media (min-resolution:97dpi){#P:before{content:"97";}}
@media (min-resolution:98dpi){#P:before{content:"98";}}
@media (min-resolution:99dpi){#P:before{content:"99";}}
@media (min-resolution:100dpi){#P:before{content:"100";}}
@media (min-resolution:101dpi){#P:before{content:"101";}}
@media (min-resolution:102dpi){#P:before{content:"102";}}
@media (min-resolution:103dpi){#P:before{content:"103";}}
@media (min-resolution:104dpi){#P:before{content:"104";}}
@media (min-resolution:105dpi){#P:before{content:"105";}}
@media (min-resolution:106dpi){#P:before{content:"106";}}
@media (min-resolution:107dpi){#P:before{content:"107";}}
@media (min-resolution:108dpi){#P:before{content:"108";}}
@media (min-resolution:109dpi){#P:before{content:"109";}}
@media (min-resolution:110dpi){#P:before{content:"110";}}
@media (min-resolution:111dpi){#P:before{content:"111";}}
@media (min-resolution:112dpi){#P:before{content:"112";}}
@media (min-resolution:113dpi){#P:before{content:"113";}}
@media (min-resolution:114dpi){#P:before{content:"114";}}
@media (min-resolution:115dpi){#P:before{content:"115";}}
@media (min-resolution:116dpi){#P:before{content:"116";}}
@media (min-resolution:117dpi){#P:before{content:"117";}}
@media (min-resolution:118dpi){#P:before{content:"118";}}
@media (min-resolution:119dpi){#P:before{content:"119";}}
@media (min-resolution:120dpi){#P:before{content:"120";}}
@media (min-resolution:121dpi){#P:before{content:"121";}}
@media (min-resolution:122dpi){#P:before{content:"122";}}
@media (min-resolution:123dpi){#P:before{content:"123";}}
@media (min-resolution:124dpi){#P:before{content:"124";}}
@media (min-resolution:125dpi){#P:before{content:"125";}}
@media (min-resolution:126dpi){#P:before{content:"126";}}
@media (min-resolution:127dpi){#P:before{content:"127";}}
@media (min-resolution:128dpi){#P:before{content:"128";}}
@media (min-resolution:129dpi){#P:before{content:"129";}}
@media (min-resolution:130dpi){#P:before{content:"130";}}
@media (min-resolution:131dpi){#P:before{content:"131";}}
@media (min-resolution:132dpi){#P:before{content:"132";}}
@media (min-resolution:133dpi){#P:before{content:"133";}}
@media (min-resolution:134dpi){#P:before{content:"134";}}
@media (min-resolution:135dpi){#P:before{content:"135";}}
@media (min-resolution:136dpi){#P:before{content:"136";}}
@media (min-resolution:137dpi){#P:before{content:"137";}}
@media (min-resolution:138dpi){#P:before{content:"138";}}
@media (min-resolution:139dpi){#P:before{content:"139";}}
@media (min-resolution:140dpi){#P:before{content:"140";}}
@media (min-resolution:141dpi){#P:before{content:"141";}}
@media (min-resolution:142dpi){#P:before{content:"142";}}
@media (min-resolution:143dpi){#P:before{content:"143";}}
@media (min-resolution:144dpi){#P:before{content:"144";}}
@media (min-resolution:145dpi){#P:before{content:"145";}}
@media (min-resolution:146dpi){#P:before{content:"146";}}
@media (min-resolution:147dpi){#P:before{content:"147";}}
@media (min-resolution:148dpi){#P:before{content:"148";}}
@media (min-resolution:149dpi){#P:before{content:"149";}}
@media (min-resolution:150dpi){#P:before{content:"150";}}
@media (min-resolution:151dpi){#P:before{content:"151";}}
@media (min-resolution:152dpi){#P:before{content:"152";}}
@media (min-resolution:153dpi){#P:before{content:"153";}}
@media (min-resolution:154dpi){#P:before{content:"154";}}
@media (min-resolution:155dpi){#P:before{content:"155";}}
@media (min-resolution:156dpi){#P:before{content:"156";}}
@media (min-resolution:157dpi){#P:before{content:"157";}}
@media (min-resolution:158dpi){#P:before{content:"158";}}
@media (min-resolution:159dpi){#P:before{content:"159";}}
@media (min-resolution:160dpi){#P:before{content:"160";}}
@media (min-resolution:161dpi){#P:before{content:"161";}}
@media (min-resolution:162dpi){#P:before{content:"162";}}
@media (min-resolution:163dpi){#P:before{content:"163";}}
@media (min-resolution:164dpi){#P:before{content:"164";}}
@media (min-resolution:165dpi){#P:before{content:"165";}}
@media (min-resolution:166dpi){#P:before{content:"166";}}
@media (min-resolution:167dpi){#P:before{content:"167";}}
@media (min-resolution:168dpi){#P:before{content:"168";}}
@media (min-resolution:169dpi){#P:before{content:"169";}}
@media (min-resolution:170dpi){#P:before{content:"170";}}
@media (min-resolution:171dpi){#P:before{content:"171";}}
@media (min-resolution:172dpi){#P:before{content:"172";}}
@media (min-resolution:173dpi){#P:before{content:"173";}}
@media (min-resolution:174dpi){#P:before{content:"174";}}
@media (min-resolution:175dpi){#P:before{content:"175";}}
@media (min-resolution:176dpi){#P:before{content:"176";}}
@media (min-resolution:177dpi){#P:before{content:"177";}}
@media (min-resolution:178dpi){#P:before{content:"178";}}
@media (min-resolution:179dpi){#P:before{content:"179";}}
@media (min-resolution:180dpi){#P:before{content:"180";}}
@media (min-resolution:181dpi){#P:before{content:"181";}}
@media (min-resolution:182dpi){#P:before{content:"182";}}
@media (min-resolution:183dpi){#P:before{content:"183";}}
@media (min-resolution:184dpi){#P:before{content:"184";}}
@media (min-resolution:185dpi){#P:before{content:"185";}}
@media (min-resolution:186dpi){#P:before{content:"186";}}
@media (min-resolution:187dpi){#P:before{content:"187";}}
@media (min-resolution:188dpi){#P:before{content:"188";}}
@media (min-resolution:189dpi){#P:before{content:"189";}}
@media (min-resolution:190dpi){#P:before{content:"190";}}
@media (min-resolution:191dpi){#P:before{content:"191";}}
@media (min-resolution:192dpi){#P:before{content:"192";}}
@media (min-resolution:193dpi){#P:before{content:"193";}}
@media (min-resolution:194dpi){#P:before{content:"194";}}
@media (min-resolution:195dpi){#P:before{content:"195";}}
@media (min-resolution:196dpi){#P:before{content:"196";}}
@media (min-resolution:197dpi){#P:before{content:"197";}}
@media (min-resolution:198dpi){#P:before{content:"198";}}
@media (min-resolution:199dpi){#P:before{content:"199";}}
@media (min-resolution:200dpi){#P:before{content:"200";}}
@media (min-resolution:201dpi){#P:before{content:"201";}}
@media (min-resolution:202dpi){#P:before{content:"202";}}
@media (min-resolution:203dpi){#P:before{content:"203";}}
@media (min-resolution:204dpi){#P:before{content:"204";}}
@media (min-resolution:205dpi){#P:before{content:"205";}}
@media (min-resolution:206dpi){#P:before{content:"206";}}
@media (min-resolution:207dpi){#P:before{content:"207";}}
@media (min-resolution:208dpi){#P:before{content:"208";}}
@media (min-resolution:209dpi){#P:before{content:"209";}}
@media (min-resolution:210dpi){#P:before{content:"210";}}
@media (min-resolution:211dpi){#P:before{content:"211";}}
@media (min-resolution:212dpi){#P:before{content:"212";}}
@media (min-resolution:213dpi){#P:before{content:"213";}}
@media (min-resolution:214dpi){#P:before{content:"214";}}
@media (min-resolution:215dpi){#P:before{content:"215";}}
@media (min-resolution:216dpi){#P:before{content:"216";}}
@media (min-resolution:217dpi){#P:before{content:"217";}}
@media (min-resolution:218dpi){#P:before{content:"218";}}
@media (min-resolution:219dpi){#P:before{content:"219";}}
@media (min-resolution:220dpi){#P:before{content:"220";}}
@media (min-resolution:221dpi){#P:before{content:"221";}}
@media (min-resolution:222dpi){#P:before{content:"222";}}
@media (min-resolution:223dpi){#P:before{content:"223";}}
@media (min-resolution:224dpi){#P:before{content:"224";}}
@media (min-resolution:225dpi){#P:before{content:"225";}}
@media (min-resolution:226dpi){#P:before{content:"226";}}
@media (min-resolution:227dpi){#P:before{content:"227";}}
@media (min-resolution:228dpi){#P:before{content:"228";}}
@media (min-resolution:229dpi){#P:before{content:"229";}}
@media (min-resolution:230dpi){#P:before{content:"230";}}
@media (min-resolution:231dpi){#P:before{content:"231";}}
@media (min-resolution:232dpi){#P:before{content:"232";}}
@media (min-resolution:233dpi){#P:before{content:"233";}}
@media (min-resolution:234dpi){#P:before{content:"234";}}
@media (min-resolution:235dpi){#P:before{content:"235";}}
@media (min-resolution:236dpi){#P:before{content:"236";}}
@media (min-resolution:237dpi){#P:before{content:"237";}}
@media (min-resolution:238dpi){#P:before{content:"238";}}
@media (min-resolution:239dpi){#P:before{content:"239";}}
@media (min-resolution:240dpi){#P:before{content:"240";}}
@media (min-resolution:241dpi){#P:before{content:"241";}}
@media (min-resolution:242dpi){#P:before{content:"242";}}
@media (min-resolution:243dpi){#P:before{content:"243";}}
@media (min-resolution:244dpi){#P:before{content:"244";}}
@media (min-resolution:245dpi){#P:before{content:"245";}}
@media (min-resolution:246dpi){#P:before{content:"246";}}
@media (min-resolution:247dpi){#P:before{content:"247";}}
@media (min-resolution:248dpi){#P:before{content:"248";}}
@media (min-resolution:249dpi){#P:before{content:"249";}}
@media (min-resolution:250dpi){#P:before{content:"250";}}
@media (min-resolution:251dpi){#P:before{content:"251";}}
@media (min-resolution:252dpi){#P:before{content:"252";}}
@media (min-resolution:253dpi){#P:before{content:"253";}}
@media (min-resolution:254dpi){#P:before{content:"254";}}
@media (min-resolution:255dpi){#P:before{content:"255";}}
@media (min-resolution:256dpi){#P:before{content:"256";}}
@media (min-resolution:257dpi){#P:before{content:"257";}}
@media (min-resolution:258dpi){#P:before{content:"258";}}
@media (min-resolution:259dpi){#P:before{content:"259";}}
@media (min-resolution:260dpi){#P:before{content:"260";}}
@media (min-resolution:261dpi){#P:before{content:"261";}}
@media (min-resolution:262dpi){#P:before{content:"262";}}
@media (min-resolution:263dpi){#P:before{content:"263";}}
@media (min-resolution:264dpi){#P:before{content:"264";}}
@media (min-resolution:265dpi){#P:before{content:"265";}}
@media (min-resolution:266dpi){#P:before{content:"266";}}
@media (min-resolution:267dpi){#P:before{content:"267";}}
@media (min-resolution:268dpi){#P:before{content:"268";}}
@media (min-resolution:269dpi){#P:before{content:"269";}}
@media (min-resolution:270dpi){#P:before{content:"270";}}
@media (min-resolution:271dpi){#P:before{content:"271";}}
@media (min-resolution:272dpi){#P:before{content:"272";}}
@media (min-resolution:273dpi){#P:before{content:"273";}}
@media (min-resolution:274dpi){#P:before{content:"274";}}
@media (min-resolution:275dpi){#P:before{content:"275";}}
@media (min-resolution:276dpi){#P:before{content:"276";}}
@media (min-resolution:277dpi){#P:before{content:"277";}}
@media (min-resolution:278dpi){#P:before{content:"278";}}
@media (min-resolution:279dpi){#P:before{content:"279";}}
@media (min-resolution:280dpi){#P:before{content:"280";}}
@media (min-resolution:281dpi){#P:before{content:"281";}}
@media (min-resolution:282dpi){#P:before{content:"282";}}
@media (min-resolution:283dpi){#P:before{content:"283";}}
@media (min-resolution:284dpi){#P:before{content:"284";}}
@media (min-resolution:285dpi){#P:before{content:"285";}}
@media (min-resolution:286dpi){#P:before{content:"286";}}
@media (min-resolution:287dpi){#P:before{content:"287";}}
@media (min-resolution:288dpi){#P:before{content:"288";}}
@media (min-resolution:289dpi){#P:before{content:"289";}}
@media (min-resolution:290dpi){#P:before{content:"290";}}
@media (min-resolution:291dpi){#P:before{content:"291";}}
@media (min-resolution:292dpi){#P:before{content:"292";}}
@media (min-resolution:293dpi){#P:before{content:"293";}}
@media (min-resolution:294dpi){#P:before{content:"294";}}
@media (min-resolution:295dpi){#P:before{content:"295";}}
@media (min-resolution:296dpi){#P:before{content:"296";}}
@media (min-resolution:297dpi){#P:before{content:"297";}}
@media (min-resolution:298dpi){#P:before{content:"298";}}
@media (min-resolution:299dpi){#P:before{content:"299";}}
@media (min-resolution:300dpi){#P:before{content:"300";}}
@media (min-resolution:301dpi){#P:before{content:"301";}}
@media (min-resolution:302dpi){#P:before{content:"302";}}
@media (min-resolution:303dpi){#P:before{content:"303";}}
@media (min-resolution:304dpi){#P:before{content:"304";}}
@media (min-resolution:305dpi){#P:before{content:"305";}}
@media (min-resolution:306dpi){#P:before{content:"306";}}
@media (min-resolution:307dpi){#P:before{content:"307";}}
@media (min-resolution:308dpi){#P:before{content:"308";}}
@media (min-resolution:309dpi){#P:before{content:"309";}}
@media (min-resolution:310dpi){#P:before{content:"310";}}
@media (min-resolution:311dpi){#P:before{content:"311";}}
@media (min-resolution:312dpi){#P:before{content:"312";}}
@media (min-resolution:313dpi){#P:before{content:"313";}}
@media (min-resolution:314dpi){#P:before{content:"314";}}
@media (min-resolution:315dpi){#P:before{content:"315";}}
@media (min-resolution:316dpi){#P:before{content:"316";}}
@media (min-resolution:317dpi){#P:before{content:"317";}}
@media (min-resolution:318dpi){#P:before{content:"318";}}
@media (min-resolution:319dpi){#P:before{content:"319";}}
@media (min-resolution:320dpi){#P:before{content:"320";}}
@media (min-resolution:321dpi){#P:before{content:"321";}}
@media (min-resolution:322dpi){#P:before{content:"322";}}
@media (min-resolution:323dpi){#P:before{content:"323";}}
@media (min-resolution:324dpi){#P:before{content:"324";}}
@media (min-resolution:325dpi){#P:before{content:"325";}}
@media (min-resolution:326dpi){#P:before{content:"326";}}
@media (min-resolution:327dpi){#P:before{content:"327";}}
@media (min-resolution:328dpi){#P:before{content:"328";}}
@media (min-resolution:329dpi){#P:before{content:"329";}}
@media (min-resolution:330dpi){#P:before{content:"330";}}
@media (min-resolution:331dpi){#P:before{content:"331";}}
@media (min-resolution:332dpi){#P:before{content:"332";}}
@media (min-resolution:333dpi){#P:before{content:"333";}}
@media (min-resolution:334dpi){#P:before{content:"334";}}
@media (min-resolution:335dpi){#P:before{content:"335";}}
@media (min-resolution:336dpi){#P:before{content:"336";}}
@media (min-resolution:337dpi){#P:before{content:"337";}}
@media (min-resolution:338dpi){#P:before{content:"338";}}
@media (min-resolution:339dpi){#P:before{content:"339";}}
@media (min-resolution:340dpi){#P:before{content:"340";}}
@media (min-resolution:341dpi){#P:before{content:"341";}}
@media (min-resolution:342dpi){#P:before{content:"342";}}
@media (min-resolution:343dpi){#P:before{content:"343";}}
@media (min-resolution:344dpi){#P:before{content:"344";}}
@media (min-resolution:345dpi){#P:before{content:"345";}}
@media (min-resolution:346dpi){#P:before{content:"346";}}
@media (min-resolution:347dpi){#P:before{content:"347";}}
@media (min-resolution:348dpi){#P:before{content:"348";}}
@media (min-resolution:349dpi){#P:before{content:"349";}}
@media (min-resolution:350dpi){#P:before{content:"350";}}
@media (min-resolution:351dpi){#P:before{content:"351";}}
@media (min-resolution:352dpi){#P:before{content:"352";}}
@media (min-resolution:353dpi){#P:before{content:"353";}}
@media (min-resolution:354dpi){#P:before{content:"354";}}
@media (min-resolution:355dpi){#P:before{content:"355";}}
@media (min-resolution:356dpi){#P:before{content:"356";}}
@media (min-resolution:357dpi){#P:before{content:"357";}}
@media (min-resolution:358dpi){#P:before{content:"358";}}
@media (min-resolution:359dpi){#P:before{content:"359";}}
@media (min-resolution:360dpi){#P:before{content:"360";}}
@media (min-resolution:361dpi){#P:before{content:"361";}}
@media (min-resolution:362dpi){#P:before{content:"362";}}
@media (min-resolution:363dpi){#P:before{content:"363";}}
@media (min-resolution:364dpi){#P:before{content:"364";}}
@media (min-resolution:365dpi){#P:before{content:"365";}}
@media (min-resolution:366dpi){#P:before{content:"366";}}
@media (min-resolution:367dpi){#P:before{content:"367";}}
@media (min-resolution:368dpi){#P:before{content:"368";}}
@media (min-resolution:369dpi){#P:before{content:"369";}}
@media (min-resolution:370dpi){#P:before{content:"370";}}
@media (min-resolution:371dpi){#P:before{content:"371";}}
@media (min-resolution:372dpi){#P:before{content:"372";}}
@media (min-resolution:373dpi){#P:before{content:"373";}}
@media (min-resolution:374dpi){#P:before{content:"374";}}
@media (min-resolution:375dpi){#P:before{content:"375";}}
@media (min-resolution:376dpi){#P:before{content:"376";}}
@media (min-resolution:377dpi){#P:before{content:"377";}}
@media (min-resolution:378dpi){#P:before{content:"378";}}
@media (min-resolution:379dpi){#P:before{content:"379";}}
@media (min-resolution:380dpi){#P:before{content:"380";}}
@media (min-resolution:381dpi){#P:before{content:"381";}}
@media (min-resolution:382dpi){#P:before{content:"382";}}
@media (min-resolution:383dpi){#P:before{content:"383";}}
@media (min-resolution:384dpi){#P:before{content:"384";}}
@media (min-resolution:385dpi){#P:before{content:"385";}}
@media (min-resolution:386dpi){#P:before{content:"386";}}
@media (min-resolution:387dpi){#P:before{content:"387";}}
@media (min-resolution:388dpi){#P:before{content:"388";}}
@media (min-resolution:389dpi){#P:before{content:"389";}}
@media (min-resolution:390dpi){#P:before{content:"390";}}
@media (min-resolution:391dpi){#P:before{content:"391";}}
@media (min-resolution:392dpi){#P:before{content:"392";}}
@media (min-resolution:393dpi){#P:before{content:"393";}}
@media (min-resolution:394dpi){#P:before{content:"394";}}
@media (min-resolution:395dpi){#P:before{content:"395";}}
@media (min-resolution:396dpi){#P:before{content:"396";}}
@media (min-resolution:397dpi){#P:before{content:"397";}}
@media (min-resolution:398dpi){#P:before{content:"398";}}
@media (min-resolution:399dpi){#P:before{content:"399";}}
@media (min-resolution:400dpi){#P:before{content:"400";}}
@media (min-resolution:401dpi){#P:before{content:"";}}

